# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore byebug command history file.
.byebug_history

# Ignore idea
/.idea/*

# Ignore application configuration
/config/application.yml

.rspec
/spec/tmp
/vendor/assets/bower_components
/node_modules
/yarn-error.log

# Ignore bundler config.
/.bundle
/vendor/bundle